{{#if session.isAuthenticated}}
  Logged in as {{ firstName session.currentUser.name}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  <button {{action "signIn"}}>Sign in with Google</button>
{{/if}}
