<div class="jumbotron text-center">
    <div class="container">

        <div class="col-md-4 col-md-offset-4">
          {{#if session.currentUser}}
              <center><img class="image" src="{{session.currentUser.imageUrl}}"/></center>
              <h2>Hello {{firstName session.currentUser.name}}!</h2>
            {{#link-to 'chat' (firstName session.currentUser.name) class="btn btn-lg btn-success"}}Join chat{{/link-to}}
          {{else}}
            <div class="col-md-4 col-md-offset-4">
              <p>Please login by Google</p>
            </div>
          {{/if}}
        </div>
    </div>
</div>
